<div class="container">
    <gc-spread-sheets [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)"></gc-spread-sheets>
    <div id="statusBar" #statusBar></div>
    <div class="drawer"  [ngClass]="{'none': !drawOpen}">
        <div class="switcher">
            <i *ngIf="drawOpen" nz-icon nzType="menu-fold" nzTheme="outline" (click)='changeDrawStatus()'></i>
            <i *ngIf="!drawOpen" nz-icon nzType="menu-unfold" nzTheme="outline" (click)='changeDrawStatus()'></i>
        </div>
    </div>
    <!-- <geom-geometry-register [url]="'http://192.168.0.26:8088'"></geom-geometry-register> -->
</div>

